:root
{
    --primary-color: rgb(222, 139, 222); 
    --dark-gray: #9f8888;
    --off-white: #e2e8f0;
}

/*footer*/

.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem ;
    margin-left: 10px; 
    margin-right: 10px;
}

.footer .link{
    color: white;
}

.footer .footer-header{
    font-size: larger;
    font-weight: bold;
}

/*links*/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

.link-primary{
   background-color: var(--primary-color);
   border-radius: 0.5rem;
   color: white;
   
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5ren;
    border: 1px solid var(--primary-color);
    

}

/* lists*/

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/*-------------------SOS--------------------*/

.sos
{
    margin-bottom: 10px;
    font-size: large;
}

/*-------------------FAQ section--------------------*/

#section-2{
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(222, 139, 222);
}

.faqs{
    justify-content: center;
    background-color: purple;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 40%;
    height: 50px;
    margin: auto;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 10px;
    padding-top: 0.2rem;
}

ul{
    list-style: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: purple;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-left: 80px; 
    font-size: 20px
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: var(--dropdown-button-change)}

  .load-more-btn {
    display: block;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .load-more-btn button {
    padding: 1rem 1rem;
    width: auto;
    color: white;
    background-color: orange;
    border-radius: 5px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .load-more-btn button:hover {
    background-color: pink;
  }
  
  .load-more-btn button:active {
    background-color: orange;
  }
  
  @media (max-width: 500px) {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 20px;
      padding: 1rem 0.5rem;
    }
  }
  
  @media (max-width: 991px) {
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      grid-gap: 1rem;
      padding: 1rem 0.5rem;
    }
  }

