h1{
    margin-top: 10px !important;
    margin-left: 190px !important;
    margin-right: 180px !important;
    
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  /*background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);*/
    padding: 30px;
    border-radius: 6px;
    font-weight: bolder !important;
    text-align: center;
}
h2{
  color: rgb(242, 239, 245);
}
h3{
  color:rgb(0, 0, 0);
}
body{
 background-image: url(https://institute.careerguide.com/wp-content/uploads/2020/10/c83d1bb4b40a7f6da9b530ac9deffcee.gif);
  /*background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);*/
  /*background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);*/
  
   text-align: center;
}
img{
  border-radius: 5px  !important;
  box-shadow: #d299c2;
}