/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url(https://static.wixstatic.com/media/9c5d56_fff85c81cc66455fbb8a88bcfe5a307d~mv2.png/v1/fill/w_640,h_512,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/9c5d56_fff85c81cc66455fbb8a88bcfe5a307d~mv2.png);*/
    background-color:white;
    /*padding: 30px;*/
}

.container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective:2700px;
}

.container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;

    transition: all 1s ease;
    transform-origin: left;
    transform-style:preserve-3d;
}

.container .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 100;
}

.container .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 100;
    transform: rotateY(180deg);
}
.container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}

.container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
}

.container .cover .back .backImg{
    transform: rotateY(180deg);
}

.container .cover .text{
    position: absolute;
    z-index: 111;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1, .cover .text .text-2{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    backface-visibility: hidden;
    
}

.front .text .text-1,
.front .text .text-2{
    transform: rotateY(0deg);
    width:0px;
}

.cover .text .text-2{
    font-size: 15px;
    font-weight: 500;
}

form .form-content .login-text,
form .form-content .signup-text{
    text-align: center;
    margin-top: 25px;
} 
.container .form{
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
    /* background: red; */
}

form .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
form .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #1d1d1e;
}

form .signup-form .title:before{
    width: 20px;
}

form .form-content .input-boxes{
    margin-top: 30px;
}

form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color: #1d1d1e;
}

.form-content .input-box i{
    position: absolute;
    color: #1d1d1e;
    font-size: 17px;
}
form .form-content .text{
   font-size: 14px;
   font-weight: 500;
   color: #333;
}

form .form-content .text a{
    text-decoration: none;
}

form .form-content .text a:hover{
    text-decoration: underline;
}
form .form-content .button{
    color: #fff;
    margin-top: 40px;
}

form .form-content .button input{
    color: #fff;
    background: #1d1d1e;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease ;
}

form .form-content .button input:hover{
    background: #4a474f;
}

form .form-content label{
    color: #6527bd;
    cursor: pointer;
}

form .form-content label:hover{
    text-decoration: underline;
}

.container #flip{
    display: none;
}






/* Mobile styles */
@media only screen and (max-width: 600px) {
    /* Adjust font size for smaller screens */
    .container .cover .text .text-1, .container .cover .text .text-2 {
      font-size: 20px;
    }
    
    form .form-content .title {
      font-size: 18px;
    }
    /* Reduce padding for smaller screens */
    .container {
      padding: 20px 10px;
    }
    /* Make form and input fields larger for mobile */
    form input[type="text"],
    form input[type="password"] {
      font-size: 16px;
      padding: 12px;
    }
    /* Use CSS Flexbox to create a responsive layout */
    .container .form-content {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    /* Reduce the width of the form and input fields */
    form .form-content .login-form, form .form-content .signup-form {
      width: 100%;
      margin-bottom: 20px;
    }
  }



  /* Mobile styles */
@media only screen and (max-width: 600px) {
    /* Hide the right-side image and card on mobile screens */
    .container .cover {
      display: none;
    }
    /* Adjust font size for smaller screens */
    /* ... other mobile styles ... */
  }
  


  /* Medium Device styles */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* Adjust font size for medium screens */
    .container .cover .text .text-1, .container .cover .text .text-2 {
      font-size: 22px;
    }
    form .form-content .title {
      font-size: 20px;
    }
    /* Reduce padding for medium screens */
    .container {
      padding: 30px 20px;
    }
    /* Make form and input fields larger for medium screens */
    form input[type="text"],
    form input[type="password"] {
      font-size: 18px;
      padding: 14px;
    }
    /* Reduce the width of the form and input fields for medium screens */
    form .form-content .login-form, form .form-content .signup-form {
      width: calc(100% / 2 - 35px);
      margin-bottom: 30px;
    }
  }
  
  /* Large Device styles */
@media only screen and (min-width: 1024px) {
    /* Adjust font size for large screens */
    .container .cover .text .text-1, .container .cover .text .text-2 {
      font-size: 26px;
    }
    form .form-content .title {
      font-size: 24px;
    }
    /* Increase padding for large screens */
    .container {
      padding: 40px 30px;
    }
    /* Make form and input fields larger for large screens */
    form input[type="text"],
    form input[type="password"] {
      font-size: 20px;
      padding: 16px;
    }
    /* Increase the width of the form and input fields for large screens */
    form .form-content .login-form, form .form-content .signup-form {
      width: calc(100% / 2 - 25px);
    }
  }
  